[user]
	email = "72347597+Harshkumar77@users.noreply.github.com"
	name = mighty_volcano
[core]
	editor = code --wait
[alias]
	rjar = !rm -rf *.jar */*.jar */*/*.jar */*/*/*.jar */*/*/*/*.jar
[credential]
	helper = store
